@font-face {
  font-family: "Montserrat-Bold";
  src: url(fonts/static/Montserrat-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  width: 100vw;
  height: 100vh;
  background-color: #e5e7eb;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 0fr 1fr;
}
.header {
  background-color: white;
  padding: 24px;
  font-family: "Montserrat-Bold", sans-serif;
}
.sidebar {
  background-color: rgb(48, 36, 206);
  grid-row: 1 / 3;
}
